doctype html
html
  head
    title Secret
  body
    br
    br
    br
    form(action="/authen" method="POST" align='center' width='100%')
      input(name='secret' type='password' required placeholder='Secret')
      button(type='Submit') Submit

