extends layout

block content
  div(class="right-footer")
    table(align="right")
      tr
        td(class="no-border") Name & Signature of Worker:
        td(class="input")
      tr
        td(class="no-border") Date:
        td(class="input")
  div(class="left-footer-box") Reviewed at YSM 12/Jan/2015
