extends layout

block content
  div
    h1 Activities Record Form
    h3 (Each recording should not cover activities more than one month)

  br

  div
    table
      tr
        td(class="no-border") Client's Name:
        td(class="input")= client.name
      tr
        td(class="no-border") File Number:
        td(class="input")= client.fileNumber
      tr
        td(class="no-border") Month/Year Covered:
        td(class="input")= dateRange

  br

  div
    table(class="fixed-table")
        thead
          tr
            th(rowspan="3", width="50px") Date
            th(rowspan="3", width="100px") With Whom
            th(colspan="10", width="200px") Nature of Contacts
            th(rowspan="3") Significant Fact(s), Intervention and Progress related to the problem(s)
          tr
            td(class="vertical") O.I.
            td(class="vertical") Visits
            td(class="vertical") T.C.
            td(class="vertical") Letter/Report Written Referral
            td(class="vertical") Gp./Prog. Session for Clients
            td(class="vertical") Case discussion
            td(class="vertical") Collateral Contact
            td(class="vertical") Case conference
            td(class="vertical") Escort
            td(class="vertical") Others
          tr(height="115px")
            - for (var i=0; i<10; i++) {
              td(class="no-top")
            - }
        tbody
          - for (var i=0; i<10; i++) {
            tr
              - for (var j=0; j<13; j++) {
                td
              - }
          - }

  br

  div
    table(align="right")
      tr
        td(class="no-border") Name & Signature of Worker
        td(class="input")
      tr
        td(class="no-border") Date:
        td(class="input")= today

