extends layout

block content
  div
    h1 Unreported Activities Records

  br

  div
    table(align="center")
        thead
          tr
            th With Whom
            th File No.
            //th(width="200px") Date Range
            th # of Activites
            th Actions
        tbody
          - for (var i=0; i<subjects.length; i++) {
            tr
              td= subjects[i].name
              td= subjects[i].fileNo
              td(align="center")= subjects[i].activities.length
              td
                a(href='/report/' + subjects[i].id) Generate Report
          - }

  br

  div(align='center')
    a(href='/footer') Report Footer

