doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style(type='text/css').
      @page {
        margin: 0cm 0cm 2cm 0cm
      }
  body

    block content



