body {
  margin-left: 1cm;
  margin-right: 1cm;
  font: 14px Times New Roman, serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 150%;
  text-align: center;
  text-decoration: underline;
  margin: 2px;
}

h2 {
font-size: 130%;
text-align: center;
/*text-decoration: underline;*/
margin: 2px;
/*color: #404040;*/
}

h3 {
  font-weight: normal;
  text-align: center;
  margin: 2px;
}

table {
  border-collapse: collapse;
}

.fixed-table {
  width: 100%;
  table-layout: fixed;
}

thead th {
  vertical-align: top;
  height: 20px;
  padding: 5px;
  border: 1px solid black;
  background-color: whitesmoke;
  -webkit-print-color-adjust: exact;
}

td {
  vertical-align: top;
  height: 18px;
  padding: 2px;
  border: 1px solid black;
}

.no-border {
  border: 0px;
}

.no-top {
  border-top: 0px;
}

.no-bottom {
  border-bottom: 0px;
}

.input {
  border: 0px;
  border-bottom: 1px solid black;
  width: 300px;
  white-space: nowrap;
}

.no-padding{
  padding: 0px;
}

.vertical {
  font-size: 75%;
  border: 1px solid black;
  border-bottom: 0px;
  vertical-align: top;
  text-align: left;
  writing-mode: tb-rl;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  white-space: nowrap;
  width: 5px;
  /*height: 150px;*/
  padding: 2px;
}

.left-floating-box {
  text-align: left;
  font-size: 85%;
  float: left;
  /*width: 150px;*/
  /*height: 30px;*/
  padding: 5px;
  border: 1px solid black;
}

.right-floating-box {
  text-align: left;
  font-size: 85%;
  float: right;
  /*width: 120px;*/
  /*height: 30px;*/
  padding: 5px;
  border: 1px solid black;
}